body{
    background-color: bisque;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 

header{
    background-color: aquamarine;
    color: saddlebrown;
    padding: ;
    text-align: center;

}

 
