body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 

header{
    background-color: aquamarine;
    color: rgb(11, 0, 0);
    padding:100px ;
    text-align: center;

}
button{
    padding: 10px 20px;
    background-color: black;
    color: antiquewhite;

}

h1{
text-align: center;

}

footer{
    text-align: center;
}
.gallery{
    border: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.photocard{
    border: 2px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

 

 
